    @import "bootstrap";
    .navbar {
        background: lightblue;
    }
    
    main {
        padding-top: 100px;
    }
    
    .btn {
        margin-left: 1px;
        margin-right: 1px;
    }
    
    aside {
        width: 100%;
    }
    
    .help-block {
        color: red;
    }
    
    .red-text {
        color: red;
    }